.green-btn{
    background: #4CAF4F;
    color: #ffffff;
    font-weight: 400;
}

.green-btn:hover, .green-btn:focus{
    background: #439446;
    color: #ffffff;
}

.tim-smith h5{
    color: #4CAF4F;
}

.text-translate{
    transform: translateY(-70%);
    background: #fff;
}
